# Config File for PyAuditingTool by @tunelko 

[Integrity]
# put here paths that you want to check, for binary integrity
integrity_check_dirs = /usr/sbin:/usr/bin:/bin
md5packages_paths = /var/lib/dpkg/info/

[Services]
# put here sshd variables[space]value you want to check for ssh configuration
sshd_path =  /etc/ssh/sshd_config
sshd_variables2check = PermitRootLogin no:PasswordAuthentication:Protocol 2:X11Forwarding no:MaxAuthTries 3:IgnoreRhosts yes:HostbasedAuthentication no:PermitEmptyPasswords no:PermitUserEnvironment no:ClientAliveInterval 300:ClientAliveCountMax 0

# put here mysql variables[space]value you want to check for MySQL configuration 
mysqld_path = /etc/mysql/my.cnf
mysqld_variables2check = query_cache_limit 2M:query_cache_size 32M

# put here sshd variables[space]value you want to check for Apache2 configuration 
apache2_path = /etc/apache2/conf.d/security
apache2_variables2check = ServerTokens Prod:ServerSignature Off:TraceEnable Off


# syslog 
sysctl_path = /etc/sysctl.conf
sysctl_variables2check = net.ipv4.ip_forward 0:net.ipv4.conf.all.send_redirects 0:net.ipv4.conf.default.send_redirects 0:net.ipv4.tcp_max_syn_backlog 1080:net.ipv4.icmp_echo_ignore_broadcasts 1:net.ipv4.conf.all.accept_source_route 0:net.ipv4.conf.all.accept_redirects 0:net.ipv4.conf.all.secure_redirects 0:net.ipv4.conf.all.log_martians 1:net.ipv4.conf.default.accept_source_route 0:net.ipv4.conf.default.accept_redirects 0:net.ipv4.conf.default.secure_redirects 0:net.ipv4.icmp_echo_ignore_broadcasts 1:net.ipv4.icmp_ignore_bogus_error_responses 1:net.ipv4.tcp_syncookies 1:net.ipv4.conf.all.rp_filter 1:net.ipv4.conf.default.rp_filter 1:net.ipv4.tcp_timestamps 0



[System]

# System paths to several checks 
sudoers_path = /etc/sudoers 
stat_check_dirs = /usr/sbin:/usr/bin:/bin

# crones 
crond_path_hourly = /etc/cron.daily
crond_path_daily = /etc/cron.hourly
crond_path_weekly = /etc/cron.dailyweekly
crond_path_monthly = /etc/cron.monthly
